body {
	margin: 0px;
	padding: 0px;
	color: #202020;
	font-family: "Helvetica Neue";
}

#container {
	width: 100vw;
	height: 100vh;
	overflow: hidden;

	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-box;
	display: flex;

	-webkit-align-items: center;
	   -moz-align-items: center;
		-ms-align-items: center;
			align-items: center;
}

.now {
	font-size: 120px;
	font-weight: bold;
	margin: 0px auto;
	letter-spacing: 5px;
	text-shadow: 0px 1px 0px white, 0px -1px 0px white, 1px 0px 0px white, -1px 0px 0px white;
}