body {
	font-family: 'Poiret One';
	margin: 0px;
	padding: 0px;
	color: #202020;
}

.section {
	width: 100vw;
	height: 100vh;
	background-color: rgba( 220, 220, 220, 0.7 );

	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-box;
	display: flex;

	-webkit-align-items: center;
	   -moz-align-items: center;
		-ms-align-items: center;
			align-items: center;
}

.section:nth-child(2) {
	background-color: #B9F6CA;
}

.section:nth-child(3) {
	background-color: #69F0AE;
}

.section:nth-child(4) {
	background-color: #00E676;
}

.section:nth-child(5) {
	background-color: #00C853;
}

h2 {
	margin: 0px auto;
	font-size: 44px;
}

.navigation {
	width: 10px;
	height: 80px;
	position: fixed;
	top: 50%;
	margin-top: -40px;
	right: 20px;
}

.dot {
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: #C9C9C9;
	margin-bottom: 7px;
	cursor: pointer;

	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
		 -o-transition: all 0.3s;
			transition: all 0.3s;
}

.dot.active, .dot:hover {
	background-color: #03A9F4;
}